.searchcontainer{
    background-color: #AAD576;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
     
}

.searchcontainer p{
    color : #1A4301
}

.searchbar{
    display: flex;
    gap: 0.5rem;
}

.searchbar input,
.searchbar button {
    padding : .6rem;
    border-radius: 3px;
    border: none;
    color: #73A942;
}

.searchbar button {
    background-color: #73A942;
}